*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: black;
}

header img{
    margin-left: 1em;
    max-width: 500px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    color: yellow;
}

footer img{
    max-width: 100px;
    margin: 1rem;;
}

.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}

.navBar a{
    text-decoration: none;
    margin-right: 1rem;
    color: yellow;
    font-size: 2rem;
}

.shoppingCart{
    color: yellow;
    font-size: 1.5em;
    margin-right: 1em;
}

.shoppingCart p{
    color: yellow;
}

main{
    background-color: black;
    color: yellow;
    text-align: center;
}

main h3{
    font-size: 3em;
}

.ItemListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    background-color: black;
    color: yellow;
    text-align: center;
}

.ItemListContainer h2{
    padding: 0.5em;
    font-size: 2em;
}

.ItemListContainer h3{
    padding: 0.5em;
    font-size: 1.5em;
}

.ItemListContainer img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.ItemListContainer div{
    margin: 20px;
    min-width: 300px;
}

.counter{
    font-size: 1em;
    max-width: 200px;
    margin: auto;
}

.btn {
    background-color: black;
    border: solid yellow;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
  }